body {
    text-align: center;
}
.cool {
    display: inline-block;
    border-bottom: 3px solid green;
    position: relative;
}
.cool .cool-text {
    width: 130px;
    position: absolute;
    z-index: 2;
    color: white;
    background-color: aqua;
    border-radius: 10px;
    visibility: hidden;
}
.cool:hover .cool-text {
    visibility: visible;
}